
#register_head {
    padding-left: 1vw;
    margin: 0 auto;
    font-size: 2.5vw;
    color: white;
    font-family: 'Equinox';
    font-style: normal;
    font-weight: 200;
    line-height: 41px;
}
