@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Play&display=swap');
@import url(https://allfont.net/allfont.css?fonts=star-jedi);
.FAQs {

   margin: 1vw 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.FAQ_Header{

   width: 132px;
   height: 55px;
   font-family: 'Play', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 55px;
   color: #FFFFFF;
}

.faq_card {
   perspective: 1000px;
}

.faq-card-inner {
   position: relative;
   width: 100%;
   border-radius: 1vw;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
   background: #2B2A2A;

}

.faq_card:hover .faq-card-inner {
   transform: rotateY(180deg);
}

.faq_content, .flip {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; 
   
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.container .faq_card {
   width: 197px;
   height: 275px;
   padding: 0px 0px;
   margin: 20px 10px;
   /* border-radius: 10px; */
   position: relative;
}

.container .faq_card .faq_content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.detail{
   padding: 0 10px;
}
.ques-para {
   position: relative;
   /* top: 50px; */

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 86%;
   /* or 13px */
   line-height: 1.3;

   text-align: center;
   color: #FFFFFF;
}

.ans-para{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   top: 90px;
   font-size: 14px;
   line-height: 0.8rem;
   text-align: center;
   color: white;
   position: relative;
   line-height: 1.2;
}

.flip {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   transform: rotateY(180deg);
   background-color: #9747FF;
   border-radius: 10px;
}