.faq {
   margin: 60px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin-top: 700px;  
}

/* .Header{
	display: flex;
	justify-content:center;
	margin-top: 100px;

	position: absolute;
   width: 132px;
   height: 55px;
   left: 600px;
   top: 700px;

   font-family: 'Play', sans-serif;
   font-size: 2.1rem;
   font-weight: 400;
   font-size: 48px;
   line-height: 55px;

   color: #FFFFFF;
} */

.faq_card {
   perspective: 1000px;
}

.faq_card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}

.faq_card:hover .faq_card-inner {
   transform: rotateY(180deg);
}

.faq_content, .faq_flip {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; 
   backface-visibility: hidden;
}

.container2 {
   display: flex;
   margin-top: -200px;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.container2 .faq_card {
   width: 197px;
   height: 275px;
   padding: 0px 0px;
   margin: 20px 10px;
   margin-top: -1300px;

   /* border-radius: 10px; */
   position: relative;
}

.container2 .faq_card .faq_content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.faq_detail p {
   position: relative;
   /* width: 298px; */
   /* height: 172px; */
   /* left: 26px; */
   /* top: 10px; */
   text-align: center;
   padding: 12px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 86%;
   /* or 13px */

   text-align: center;
   color: #FFFFFF;
}

.faq_detail_ans p {
   position: relative;
   /* width: 298px; */
   /* height: 172px; */
   /* left: 26px; */
   top: 50px;
   padding: 12px;
   text-align: center;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 86%;
   /* or 13px */

   color: #FFFFFF;
}

.faq_flip {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   transform: rotateY(180deg);
   background-color: #9747FF;
   border-radius: 10px;
}

.faq_content {
   background-color: #2B2A2A;
   border-radius: 10px;
}
