@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Play&display=swap');


.heading{
    
    font-family: 'Play', sans-serif;
font-size: 150%;
font-weight: 400;
/* width:88%; */
color:white;
text-align: left;
margin: 2vw 0 0 5vw;

}

.sub-heading{
    font-family: 'Montserrat', sans-serif;
font-size: 1.2rem;

font-weight: 400;
/* width:88%; */
color:white;
text-align: left;
margin: 0 0 2vw 5vw;

}