.searchInputs {
  margin-top: 15px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 0.5vw 0vw 0vw 0.5vw;
  font-size: 1.5vw;
  padding: 1vw 1vw 1vw 2vw;
  height: 3vw;
  width: 20vw;
  margin-left: 6vw;
}

.searchIcon {
  height: 3vw;
  width: 4vw;
  border-radius: 0vw 0.5vw 0.5vw 0vw;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 3vw;
}

.dataResult {
  margin-top: 5px;
  margin-left: 6vw;
  width: 20vw;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: black;
  padding-left: 10px;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
