.intro{
    margin-left: 8vw;
    margin-top: 50px;
}

.welcome{
    width: 124px;
    height: 29px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.hello {
    width: 338px;
    height: 48px;

    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}
