/* .review{
    margin-left: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    flex: 1;
  } */
  
  .review{
    display: flex;
    /* margin: 5vw; */
    margin-top: 5vw;
    margin-left: 8vw;
    width: 322px;
    height: 451px;
    border-radius: 20px;
    background: #1C1B1B;
  }

  .review-action-soc{
    margin: 2vw 5vw 0vw 5vw;
    width: -webkit-fill-available;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }

  .review_wrapper{
    /* padding: 1.5vw; */
    font-family: 'Roboto';
    width:22vw;
    height:421px;
  }
  
  .review-img{
    border-radius: 20px 20px 0 0;
    height: 40%;
    width: 100%;
    object-fit: cover;    
  }

  .review_info{
    margin:16px 20px;
    align-items: center;
  }
  .review_society{
    display: flex;
    justify-content:center;
  }
  
  
  /* font-family: 'Montserrat', sans-serif; */
  .review_name{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .review_society_name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 5px 0;
  }
  .review_date{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: fit-content;
    height: fit-content;
   background: #2B2A2A;
    margin:5px auto;
    padding: 10px;
    border-radius: 10px;
  font-size: 0.9rem;
    
  }
  .dateReview{
    margin:0;
  }
  .review-action{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
  .review_approve , .review_delete{
    font-size: 1.3rem;
  color: #9747FF;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  }
  
  .review_register{
    
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 1.0rem;
  }
  
  .review_register button{
    border-radius: 7px;
    background-color:#9747FF;
    border: none;
    margin:20px auto;
    padding: 8px 30px;
    border-radius: 5px;
  }
  .registerReview{
    margin: 0;
  }