@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Play&display=swap');

.about_team {
   margin: 60px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin-top: -200px;  
}

.about_Header{
	display: flex;
	justify-content:center;
	/* margin-top: 100px; */

	position: absolute;
   width: 132px;
   height: 55px;
   left: 750px;
   top: 700px;

   font-family: 'Play', sans-serif;
   font-size: 2.1rem;
   font-weight: 400;
   font-size: 48px;
   /* line-height: 55px; */

   color: #FFFFFF;
}

.about_card {
   perspective: 1500px;
}

.about_content {
   margin-top: 1050px;
   height: 0;
}

.about_card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}

.about_card:hover .about_card-inner {
   transform: rotateY(180deg);
}

.about_content, .about_flip {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; 
   backface-visibility: hidden;
}

.about_container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-top: -450px;
}

.about_container .about_card {
   width: 197px;
   height: 275px;
   padding: 0px 0px;
   margin: 20px 15px;
   border-radius: 10px;
   position: relative;
}

.about_container .about_card .about_content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.about_imgbox {
   /* width: 132px;
   height: 132px; */
   width: 100%;
   height: 100%;
   margin-top: -200px;
   border-radius: 0px;
   border: none;
   position: relative;
   /* margin-bottom: 20px; */
   /* overflow: hidden; */
}

.about_imgbox img {
   position: absolute;
   top: 0;
   border-radius: 10px;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.about_detail h4 {
   position: relative;
   /* width: 66px;
   height: 28px; */
   /* left: 142px; */
   top: 20px;
   text-align: center;
   letter-spacing: -0.01em;
   font-family: 'Equinox';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 20px;  
   color: #FFFFFF;
}

.about_detail h5 {
   position: relative;
   /* width: 89px;
   height: 17px; */
   left: 5px;
   top: 20px;
   /* margin-top: 10px; */

   font-family: 'Equinox';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 17px;
   text-align: center;
   letter-spacing: -0.02em;

   color: #9747FF;
}

.about_detail p {
   position: relative;
   /* width: 298px; */
   /* height: 172px; */
   /* left: 26px; */
   top: 50px;
   padding: 10px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 86%;
   /* or 13px */

   text-align: center;
   color: #FFFFFF;
}

.about_social {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* align-items: center; */
   padding: 0px;
   gap: 0px;
   height: 2px;
   background-color: none;
   text-decoration: none;
   /* overflow: hidden; */

   position: absolute;
   /* width: 218px;
   height: 26px; */
   left: 0px;
   /* top: 319px; */
} 

.about_social img {
   size: 5px;
}

.about_flip {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   transform: rotateY(180deg);
   background-color: #2B2A2A;
   border-radius: 10px;
   margin-top: 950px;
}
