@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Play&display=swap');

.about_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:white;
    padding: 0 10vw;
	padding-bottom: 0;
	margin-top: 4vh;
}
.about_content{
    font-size: 1.2rem;
}

.img_rocket {
    width: 405px;
    height: 397px;
    left: 350px;
    top: 100px;
    background: url('/src/Society/images/rocket.png'), #D9D9D9;
}

.about_Heading{
	display: flex;
	justify-content:center;

	font-family: 'Play', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20vh;
	line-height: 86%;
	/* or 41px */

	color: #FFFFFF;
}

.para {

	width: 35vw;
	padding: 1vw;
	left: 10vw;

	font-family: 'Play', sans-serif;
	font-style: normal;
	/* font-weight: 400; */
	font-size: 16px;
	line-height:1rem;     /* or 17px */
    text-align: justify;
	line-height: 1.2rem;

	color: #FFFFFF;
}

@media screen and (max-width: 550px) {
	.img_rocket {
	   display: none;
	}

	.about_info{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color:white;
		padding: 0 1vw;
		padding-right: 1vw;;
		padding-bottom: 0;
		margin-top: 4vh;
	}

	.about_Heading{
		display: flex;
		justify-content:center;
	
		font-family: 'Play', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 20vh;
		line-height: 86%;
		/* or 41px */
		padding-right: 8vw;
		padding-bottom: 3vh;
		color: #FFFFFF;
	}

	.para {

		width: 90vw;
		padding-right: -40vw;
		padding-left: -20vw;
		left: 0vw;
	
		font-family: 'Play', sans-serif;
		font-style: normal;
		/* font-weight: 400; */
		font-size: 16px;
		line-height:1rem;     /* or 17px */
		text-align: center;
		line-height: 1.2rem;
	
		color: #FFFFFF;
	}
 }