body {
  font-family: 'Roboto';
  min-width: 70vw;
}

.logo{
  margin: 5px;
  width:12vw;
  margin-left: 2vw;
  /* width: 10vw; */
  margin-top:1.5vw;
}

.navbar {
  margin-top: 10px;
  padding: 4vh 1vh 0vh 1vh;
  font-family: 'Roboto';
  font-size: 1.2vw;
}

.navbar-brand {
  color: white;
  font-size: 2vw;
}

.navbar-toggler-icon {
  color: white;
  padding: 0;
  height: 7vw;
    width: 5vw;
    margin-left:0;
}

.navbar-toggler {

  padding: 0 0.5vw;
  height: 3.8vw;
  width: 4.3vw;
}

.nav-item{
  margin: 1vw;
  text-decoration: none;
}

.nav-item a {
  color: white;
}

#navside {
  position: absolute;
    right: 2vw;
}



span{
  color: white;
}
.login{
  font-family: 'Play', sans-serif;
  margin:10px;
  color: white;
  border: 1px solid white;
  background: transparent;
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 0.9rem;

}

.login:hover {
  transform: scale(1.1)
}

.register:hover {
  transform: scale(1.1)
}

.register{
  font-family: 'Play', sans-serif;
  background: #9747FF;
  color: white;
  font-size: 0.9rem;
  padding: 5px 30px;
  border-radius: 5px;
}

#profilePic {
  height: 3vw;
  width: 3vw;
  margin: 10px;
  border-radius: 50%;
}

.admin{
  float:right;
}

.navbar-nav{
  margin-top: 0.5vw;
}

.nav-logout {
  display: flex;
  color: white;
  justify-content: center;
  align-content: center;
  font-family: 'Play', sans-serif;
}

.nav-logout h6 {
  margin: auto;
  text-align: center;
  padding: 0.5vw;
  font-size: 20px;
}

.nav-logout span {
  margin: auto;
  justify-content: center;
  padding: 0.5vw;
  font-size: 3vh;
}
@media (max-width:824px) {
  /* #navside{
    display: none;
  } */
}