body {
  font-family: 'Equinox';
  min-width: 70vw;
}

/* .stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */

/* .stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  font-family: 'Roboto';
  background: transparent url(http://www.script-tutorials.com/demos/360/images/clouds.png) repeat top center;
  z-index: 3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
} */

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.navbar {
  padding: 4vh 1vh 0vh 1vh;
  font-family: 'Equinox';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
  gap: 50px;

  position: absolute;
  width: 153px;
  height: 425px;
  left: 88px;
  top: 349px;

  background: #2B2A2A;
  border-radius: 20px;
}

/* .navbar2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;
  
  position: absolute;
  width: 209px;
  height: 56px;
  left: 1363px;
  top: 62px;
} */

.navbar-toggler-icon {
  color: white;
  margin-left:0;
}

.navbar-brand {
  width: 60px;
  height: 21px;

  font-family: 'Equinox';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-toggler-icon {
  background-color: #9747FF;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  gap: 10px;

  width: 93px;
  height: 41px;
}

.navbar-toggler {
  background-color: #9747FF;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  gap: 10px;

  width: 93px;
  height: 41px;
}

.nav-item{
  /* margin: 1vw;
  text-decoration: none; */
  width: 60px;
  height: 21px;

  font-family: 'Equinox';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.nav-item a {
  color: white;
}

#navside {
  margin-right: 10px;
}

#navside button,#navside
span {
  border: none;
  background: none;
  color: white;  
}

#navside span{
  font-size: 1.5vw;
  margin-left: 0vw !important;
}

span{
  color: white;
}

#profilePic {
  height: 3vw;
  width: 3vw;
  margin: 0vw 1vw 0vw 0.5vw;
  border-radius: 50%;
}

.admin{
  float:right;
}
