
.addcard {
  margin-top:50px;
  margin-left: 20px;
  margin-right:20px;
  
  width: 220px;
  height: 300px;
  border-radius: 12px;
  background-color: red;
  padding: 10px;
  text-align: center;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img{
    width:80px;
}