@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Play&display=swap');
/* .App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*Society event page app.css */
body {
  background-color: black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media screen and (max-width: 650px){
  .container-user{
    display: flex;
  }
}
/*
.societyPage-background{
  background-image: url("./Society/images/event_pageBackground.jpeg");
  margin-top: -3.4%;
  height:100vh ;
  background-size: 100%;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment:fixed;
}*/
/* width */
body {
  background: url('background.jpg');
}
.mainpage {
  display: grid;
}
.container-user {
  display: grid;
  grid-template-columns: 12% 88%;
}
/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 245, 0.788);
  border-radius: 5vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  border-radius: 5vw;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .societyPage{
  margin:0 auto 0 auto;
  
}
.societyName{
  margin: 0vw;
    font-size: 6vw;
    font-variant-caps: all-petite-caps;
    color: white;
    text-align: center;
}
hr{
  width:20%;
  align-items: center;
  border:none;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 20px 20px -20px rgb(96, 92, 92);
  margin: -50px auto 10px; 
}

.cards{
  margin-left: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1;
}
.card {
  display: flex;
  margin: 3vw;
  width: auto;
  border-radius: 20px;
  background: #1C1B1B;
  
}

.card .content {
  display: flex;
  flex-direction: column;
  align-items:center;
}


.card .content .images{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  
}

.card .content .images .icons{
  margin-left: 40%;
  display: flex;
}

.card .content .images .icons div{
  padding: 0 5%;

}

.info h2{
    text-align: center;
    font-size: 1.5rem;
}

.info h1{
  text-align: left;
  font-size: 1rem;
  padding: 1%;
}
.card button{
  padding: 3%;
  font-size: 1rem;
  border: 2px solid transparent;
  border-image: url(./Society/images/event_CardBackground.jpeg) 2% stretch;
  background-color: black;
  color:white;
} */

.Modal {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4%;
  width: 30%;
  background-color: #1c1b1b;
  border-radius: 3%;
}

@media (max-width: 824px) {
  .Modal {
    width: 72%;
  }
}

.Modal .modal-header h2 {
  font-size: 1.5rem;
  font-family: 'Play', sans-serif;
  color: white;
  margin-bottom: -5px;
}

.Modal .modal-header {
  border-bottom: 2px #282c34;
}

.Modal .modal-header .modal-close {
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5%;
  color: white;
  font-size: 1.2rem;
  background-color: #9747ff;
}

.Modal .line {
  height: 0.5px;
  background-color: #25272be8;
  width: 90%;
  margin: auto;
  border-radius: 1px;
}

.Modal label {
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

.Modal .big-ip {
  background: #f8f7f7;
  font-weight: 900;
  margin-bottom: 10px;
  border-radius: 10%;
}

.Modal input::placeholder {
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.Modal .modal-body .field-rows {
  display: flex;
  flex-direction: column;
}

.Modal .modal-body .field-rows .field-colums {
  display: flex;
  flex-direction: column;
}

.Modal .modal-body .field-rows .fields {
  display: flex;
  justify-content: space-between;
}

.Modal .modal-body .field-rows .small-ip input {
  padding: 2%;
  width: 98%;
  border: 2px transparent;
  border-radius: 4px;
}

.Modal .modal-body .field-rows .big-ip input {
  padding: 2%;
  width: 100%;
  border: 2px transparent;
  border-radius: 4px;
}
.date,
.time {
  width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
}

.Modal .modal-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Modal .modal-btn button {
  margin-top: 8%;
  background-color: #9747ff;
  font-family: 'Play', sans-serif;
  width: 40%;
  color: #ffffff;
  border: 2px none;
  padding: 2% 8%;
  border-radius: 5px;
}

a:visited {
  color: white !important;
}
