#simpleModal {
    /*background-image: url("https://thumbs.dreamstime.com/b/hundreds-white-rain-drops-window-black-background-glass-108001374.jpg");
    /* opacity: 0.9 !important; */
    background-image: url("../../background.jpg");
}

#modalContent {
        width: 28%;
        position: absolute;
        width: 30vw;
        top: 15vh;
        right: 8vw;
        background: #2B2A2A;
        border-radius: 1vw;
        height: 68vh;
}


#LRform svg {
    margin: 0.5vw;
}

#login_heading {

    font-family: 'Equinox';
    font-style: normal;
    font-weight: 200;
    line-height: 41px;

    color: #FFFFFF;
    padding-left: 1vw;
    margin: 0 auto;
    font-size: 2vw;

}

input ::placeholder {
    font-size: large;
}

.textbox {
    align-items: center;
    background-color: white;
    padding-left: 0.5vw;
    display: flex;
    border-radius: 0.5vw;
    width: 23vw;
    height: 3.4vw;
}

.textbox ::placeholder {
    font-size: 8vw;
}

#simpleModal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    margin: 0;
    overflow: auto;
    top: 0;
    background-color: rgba(0, 0, 0, 0.611);
}

#LRform input {
    height: 2vw;
    padding: 1.5vw;
    color: black;
    width: 20vw;
    border: green;
    outline: none;
    border-radius: 0.3vw;
}

.closebtn {
    float: right;
    font-size: 3vw;
    color:white;
    cursor: pointer !important;
    
}

.closebtn :hover{
    color: red;
}

#ModalHeader {
    margin-right: 1vw;
    padding: 0.6vw 0 0 0;
}

#LRform {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding-top: 0.5vw;
    align-items: center;
    justify-content: space-evenly;
}

#submitbtn {
    vertical-align: middle;
    font-size: large !important;
    text-align: center;
    padding: 0 2vw 0 2vw;
    height: 5vh;
    background-color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 5px 15px #201F1F;
}

#Google svg {
    height: 2vw;
    width: 2vw;

}

#Google {
    font-family: 'Roboto';
    border-radius: 0.2vw;
    background-color: white;
    font-size: 1.5vw;
    color: black;
    padding: 0.1vw 0.2vw 0.1vw 0.1vw;
    margin: 1vw;
    cursor: pointer;
    box-shadow: 1vw;
}