#modalContent {
    margin: auto auto;
    width: 28%;
    background-image: url("/src/Society/images/event_CardBackground.jpeg");
    height: 60vh;
}

#ModalBody {
    padding: 0;
}

#LRform svg {
    margin: 0.5vw;
}

#login_heading {
    padding-left: 1vw;
    margin: 0 auto;
    font-size: 2.5vw;
}

input ::placeholder {
    font-size: large;
}

.textbox ::placeholder {
    font-size: 2vw;
}

#simpleModal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    margin: 0;
    overflow: auto;
    top: 0;
    background-image: none !important;
    background-color: rgba(0, 0, 0, 0.611);
}

#LRform input {
    width: 22vw;
    font-size: 1.5vw;
    height: 3vw;
    padding: 2vw;
    color: white;
    border: green;
    outline: none;
    border-radius: 0.3vw;
}

.closebtn {
    float: right;
    font-size: 3vw;
    cursor: pointer;
}

#ModalHeader {
    margin-right: 1vw;
    padding: 0.6vw 0 0 0;
}

#LRform {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: space-evenly;
}

#submitbtn {
    vertical-align: middle;
    font-size: large !important;
    text-align: center;
    padding: 0 2vw 0 2vw;
    height: 5vh;
    background-color: #1ac31a;
    border-radius: 5px;
    cursor: pointer;
}

#Google svg {
    height: 2vw;
    width: 2vw;

}

#Google {
    font-family: 'Roboto';
    border-radius: 0.2vw;
    background-color: white;
    font-size: 1.5vw;
    color: black;
    padding: 0.1vw 0.2vw 0.1vw 0.1vw;
    margin: 1vw;
    cursor: pointer;
    box-shadow: 1vw;
}