.modal-content{
    margin: auto auto;
    width: 28%;
    background-image: url("/src/Society/images/event_CardBackground.jpeg");
    height: 50%;
}
.modal-body{
    padding: 0;
}
form svg{
    margin: 0.5vw;
}
#login_heading{
    padding-left: 1vw;
    margin: 0 auto;
    font-size: 2.5vw;
}
input ::placeholder
{
    font-size: large;
}
.textbox ::placeholder{
    font-size: 2vw;
}
.Modal{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    margin:0;
    overflow: auto;
    top:0;
    background-image: none !important; 
    background-color: rgba(0, 0, 0, 0.611);
}

.form input
{
    width: 22vw;
    font-size: 1.5vw;
    height: 3vw;
    padding: 2vw;
    color: white;
    border: green;
    outline: none;
    border-radius: 0.3vw;
}
.closebtn{
    float: right;
    font-size: 3vw;
    cursor: pointer;
}

.modal-header{
    margin-right: 1vw;
    padding: 0.6vw 0 0 0;
}

.form{
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: space-evenly;
}

#submitbtn{
    vertical-align: middle;
    font-size: large !important;
    text-align: center;
    padding: 0 2vw 0 2vw;
    height: 5vh;
    background-color: #1ac31a;
    border-radius: 5px;
    cursor: pointer;
}
