@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Play&display=swap');
@import url(https://allfont.net/allfont.css?fonts=star-jedi);

#simpleModal {
    font-family: 'Play', sans-serif;
    background-image: url("../../background.jpg");
}

.loginNav {
    position: absolute;
    width: 33vw;
    top: 4vh;
    right: 8vw;
}
#modalContent {
    position: absolute;
    height: 35vw;
    width: 30vw;
    top: 17vh;
    right: 8vw;
    background: #2B2A2A;
    border-radius: 1vw;
}

#ModalBody {
    padding: 0vw;
}

.loginnav-item {
    padding: 0.5vw 2vw;
    background: transparent;
    display: list-item;
    font-size: 1.5vw;
    margin: 0 1.5vw;
    border-radius: 5px;
}

.loginnav-item:hover {
    background: #9747FF;
}

#LoginNavbar {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

#earthdiv {
    position: absolute;
    width: 19.5vw;
    height: 60vw;
    left: 0vw;
    background-repeat: none !important;
    mix-blend-mode: normal;
}

#earth {
    height: 60vw;
}

#LRform svg {
    margin: 0.5vw;
}

#login_heading {

    font-weight: 200;
    line-height: 41px;
    color: #FFFFFF;
    padding-left: 1vw;
    margin: 0 auto;
    font-size: 1.6vw;

}

input ::placeholder {
    font-size: large;
}

.textbox {
    align-items: center;
    background-color: white;
    padding-left: 0.5vw;
    display: flex;
    border-radius: 0.5vw;
    width: 23vw;
    height: 2.6vw;
}

.textbox ::placeholder {
    font-size: 8vw;
}

#simpleModal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    margin: 0;
    overflow: auto;
    top: 0;
    background-color: rgba(0, 0, 0, 0.611);
}

#LRform input {
    height: 2vw;
    padding: 0.5vw;
    color: black;
    width: 20vw;
    border: green;
    outline: none;
    font-size: 1vw;
    border-radius: 0.3vw;
}

.closebtn {
    float: right;
    font-size: 3vw;
    color: white;
    cursor: pointer !important;

}

.closebtn :hover {
    color: red;
}

#ModalHeader {
    margin-right: 1vw;
    padding: 0.6vw 0 0 0;
}

#LRform {
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    height: 95%;
    align-items: center;
    justify-content: space-evenly;
}

#submitbtn {
    vertical-align: middle;
    font-size: 1.2vw;
    text-align: center;
    padding: 0.2vw 2vw 0.2vw 2vw;
    height: 2.6vw;
    width: 9vw;
    background-color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 5px 15px #201F1F;
}

.usernav-items{
    margin-top: 0vw;
}
#forgot {
    color: white;
    text-align: center;
    font-size: 1.4vw;
}

.line{

    display:none;
}

#Google svg {
    height: 2vw;
    width: 2vw;

}

#Google {
    border-radius: 0.2vw;
    font-size: 1.2vw;
    color: white;
    cursor: pointer;
    box-shadow: 1vw;
}

#Newacc {
    position: absolute;
    font-size: 2.2vw;
    top: 15vw;
    left: 25vw;
    width: 20vw;
    color: white;
}

#regbtn {
    background-color: #9747FF;
    border-radius: 0.5vw;
    color: white;
    margin: 2vw 0vw;
    padding: 0.5vw 1.8vw;
    font-size: 1.5vw;
}

#submitbtn:hover {
    background-color: #9747FF;
    border-radius: 0.5vw;
    color: white;
}

#forgot a {
    margin: 0;
    text-decoration: underline;
    background-color: transparent;
}

#forgot a:hover {
    color: #9747FF;
}

@media screen and (max-width: 650px) {

    #profilePic{
        height: 7vw;
        width: 7vw;
        margin: 1vw 1vw 0vw 0.5vw;
    }
    .event_wrapper{
        height: 100vw;
    }

    #filterCatDiv{
        width: 66vw !important;
        z-index:-1;
    }

    .event{
        width: 84%;
    }
    #filterCatDiv {
        width: 50vw;
    }

    .login {
        font-size: 2.5vw;
        margin: 1vw;
    }

    .usernav-items{
        padding-top: 6vw;
    margin-top: -1vw !important;
    height: 100%;
    }
    .usernav-item{
        font-size: 4vw;
    }
    .register {
        font-size: 2.5vw;
    }

    #LoginNavbar {
        margin-top: 12vw !important;
        margin-right: 9vw !important;
    }

    #earthdiv {
        display: none;
    }

    #Newacc {
        display: none;
    }

    #modalContent {
        margin: auto;
        position: relative;
        width: 70%;
        height: 63%;
        top: -4vw;
        right: 0vw;
        padding: 0vw;
    }

    #simpleModal .logo {
        height: 14.5vw;
        margin: 4vw 0vw 0vw 4vw;
        width: 25vw;
    }
    .logo{
        height: 14.5vw;
        width: 25vw;
    }

    #LRform svg {
        height: 3.5vw;
        width: 4vw;
    }

    #LRform input {
        height: 7vw;
        padding: 0.5vw;
        width: 75%;
        font-size: 3.5vw;
        border-radius: 0.3vw;
    }

    .textbox {
        width: 77%;
    height: 7.6vw;
    }

    #login_heading,
    #register_head {
        font-size: 5vw;
    }

    .navbar-toggler {
        padding: 0vw;
        height: 4.8vw;
        width: 7.3vw;
    }

    .togglelogin {
        position: absolute;
        right: 1vw;
    }

    .loginnav-item {
        padding: 0.5vw 2vw;
        background: transparent;
        display: list-item;
        font-size: 3vw;
        margin: 0 1.5vw;
        border-radius: 5px;
    }

    #Google,
    #forgot {
        font-size: 4vw;
    }

    .line{
        display: inline;
        width:40vw;
    }
    .item1{
        position: fixed;
        right: 0vw;
    }
    .sidebar-navbar-brand{

        height:100%;
        width: 100vw;
        background-color: rgb(43, 42, 42)

    }

    .item2{
        margin: 0 50% 0 50%;
        margin-left:9vw;
        width: fit-content;
    }
    .sidebarNav{
        top:0% !important;
    }
    #submitbtn {
        height: 8%;
        width: 29%;
        font-size: 3vw;
    }

    #ModalHeader {
        margin-right: 1vw;
        padding: 2vw 0.6vw 0 0;
    }

    .closebtn {
        font-size: 9vw;
    }
}